.banner						{ 	width:100%; overflow: hidden;}

#slideshowWrapper			{ 	width:100%; z-index:9999; margin: 0 auto; }
#fssPrev					{ 	display:block; position:absolute;top:400px;left:2%;background:url('img/arrows.png') -69px 0px;width:65px;height:72px;text-indent:-999999px;}
#fssNext					{ 	display:block; position:absolute;top:400px;right:2%;background:url('img/arrows.png') 0px 0px;;width:65px;height:72px;text-indent:-999999px;}
#fssPlayPause				{ 	position:absolute;top:220px;right:20px;background: #CCC;padding:4px 0 5px 0;-moz-border-radius:5px;border-radius:5px;width:60px;text-align:center;display:none;color:#BDA078;text-decoration:none;}

ul#slideshow				{ 	list-style:none;width:100%;overflow:hidden;}
ul#slideshow li   			{   overflow:hidden; }
ul#slideshow li img			{ 	width:100%; }

.banner_text				{ 	text-align:right; width: 40vw; margin-left: 45vw; height: 188px;  overflow: hidden; }
.banner_text h1         	{ 	display:inline; color:#FFF; padding: 2px 0px; text-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);}

#fssList					{ 	display:none; list-style:none;width:100px;margin:auto; position:relative; margin-top:-50px;}
#fssList li					{ 	display:inline;padding-right:2px;}
#fssList li a				{ 	color:#573F52;text-decoration:none;font-size: 12px; background:url('img/arrows.png') -72px -83px;padding: 7px 14px ; }
#fssList li.fssActive a		{ 	color:#FFF;;background:url('img/arrows.png') -39px -83px;padding: 7px 14px ;}

small a						{ 	color:#000;}

#fssPrev, #fssNext{
	-webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
#fssPrev:hover, #fssNext:hover{
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
		-webkit-transition: 0.3s ease-in-out;
	    -moz-transition: 0.3s ease-in-out;
	    -o-transition: 0.3s ease-in-out;
	    transition: 0.3s ease-in-out;
}
@media screen and (min-width : 1900px) {
	.banner,ul#slideshow li,ul#slideshow			{ 	height:900px;}
	.banner_text            						{	margin-top: -700px; }
}
@media screen and (max-width : 1899px) {
	.banner,ul#slideshow li,ul#slideshow			{ 	height:800px;}
	.banner_text            						{	margin-top: -650px; }
}
@media screen and (max-width : 1440px) {
	
	.banner_text            						{	margin-top: -500px; }
}
@media screen and (max-width : 1366px) {
	.banner,ul#slideshow li,ul#slideshow			{ 	height:750px;}
	.banner_text            						{	margin-top: -500px; }
}
@media screen and (max-width : 1280px) {
	
	.banner_text            						{	margin-top: -480px; width: 48vw; margin-left: 40vw;}
}
@media screen and (max-width : 1024px) {
	.banner,ul#slideshow li,ul#slideshow			{ 	height:700px;}
	.banner_text            						{	margin-top: -380px; width: 78vw; margin-left: 10vw;}
	#fssPrev,#fssNext								{ 	top:300px; }
}
@media screen and (max-width : 960px) {
	.banner						{ 	display: none;}
}	
